@use 'sass:map';
// @use 'sass:math';
@use '../utils.scss' as *;
@use '../colors.scss' as *;

$button: () !default;
$button: map.merge(
  (
    border-radius: 4px,
    color: $color-white,
    disabled-opacity: 0.5,
    round-radius: 35px
  ),
  $button
);

@include bem(button) {
  @include set-component-css-var('button', $button);
}
