@use 'sass:map';
// @use 'sass:math';
@use '../utils.scss' as *;

$button: () !default;
$button: map.merge(
  (
    border-radius: 5px
  ),
  $button
);

@include bem(button) {
  @include set-component-css-var('button', $button);
}
