@use 'sass:map';
@use '@ui/theme/schemes.scss' as *;
$schemes: map.deep-merge(
  (
    su-dark: (
      colors: (
        // white: #ffffff,
        // black: #1b0917,
        primary:
          (
            base: green
          ),
        success: (
          base: #61bcaf
        ),
        warning: (
          base: #e6a23c
        ),
        danger: (
          base: #f67777
        ),
        error: (
          base: #f36060
        ),
        info: (
          base: #909399
        )
      ),
      button: (
        border-radius: '40px',
        disabled-opacity: 0.5,
        round-radius: 35px
      )
    )
  ),
  $schemes
) !global;
