@use './utils.scss' as *;
@use 'sass:map';
@use 'sass:math';
// types
$types: primary, success, warning, danger, error, info;

// Color
// $colors: () !default;
// $colors: map.deep-merge(
//   (
//     'white': #ffffff,
//     'black': #1b0917,
//     'primary': (
//       'base': #8a69c4
//     ),
//     'success': (
//       'base': #61bcaf
//     ),
//     'warning': (
//       'base': #e6a23c
//     ),
//     'danger': (
//       'base': #f67777
//     ),
//     'error': (
//       'base': #f36060
//     ),
//     'info': (
//       'base': #909399
//     )
//   ),
//   $colors
// );
$color-white: white !default;
$color-black: #333 !default;
