@use 'sass:map';
@use './colors.scss' as *;
@use './utils.scss' as *;

$schemes: () !default;
$schemes: (
  default: (
    public: (
      colors: (
        // white: #ffffff,
        // black: #1b0917,
        primary:
          (
            base: #8a69c4
          ),
        success: (
          base: #61bcaf
        ),
        warning: (
          base: #e6a23c
        ),
        danger: (
          base: #f67777
        ),
        error: (
          base: #f36060
        ),
        info: (
          base: #909399
        )
      ),
      font: (
        base-size: 14px,
        small-size: 13px,
        large-size: 18px,
        base-weight: 400,
        small-weight: 0,
        large-weight: 600,
        base-letter: 1px,
        semll-letter: 0,
        large-letter: 2px
      ),
      border: '1px solid ' + wrapVar(color, info, 6),
      border-radius: 5px,
      // margin: (),
      padding:
        (
          base: 10px,
          small: 8px,
          large: 15px
        ),
      transition: all 150ms,
      opacity: 0.7,
      disabled: (
        opacity: 0.5
      )
      // box-shadow:
    ),
    button: (
      // border-radius: 4px,
      color: $color-white,
      // disabled-opacity: 0.5,
      round-radius: 35px
    )
  ),
  // su-dark: (
  //   public: (
  //     colors: (
  //       // white: #ffffff,
  //       // black: #1b0917,
  //       primary:
  //         (
  //           base: green
  //         ),
  //       success: (
  //         base: #61bcaf
  //       ),
  //       warning: (
  //         base: #e6a23c
  //       ),
  //       danger: (
  //         base: #f67777
  //       ),
  //       error: (
  //         base: #f36060
  //       ),
  //       info: (
  //         base: #909399
  //       )
  //     )
  //   ),
  //   button: (
  //     border-radius: 40px,
  //     color: $color-white,
  //     disabled-opacity: 0.5,
  //     round-radius: 35px
  //   )
  // )
);
// @debug $schemes;
